<style>
  #pretty {
    background: pink;
  }
  
  .uiButtonDefault {
    background: green !important;
    background-image: url(http://www.pozdena.org/snaps/c69290263142e40211d7cf7e5dfa8be2.png) !important;
    width: 330px !important;
    height: 310px !important;
  }
  .uiButtonDefault .img {
    display: none !important;
  }
  .uiButtonDefault .uiButtonText {
    display: none !important;
  }
</style>

<div id="pretty">
  <h1>Pretty!!!</h1>
  <a onclick='Facebook.streamPublish("You are awesome")'>Share</a>
  <fb:share-button class="url" href="http://apps.facebook.com/elcrocks"></fb:share-button>
  
  <fb:share-button href="http://apps.facebook.com/example" type="box_count"></fb:share-button>
  
  <fb:iframe src="http://www.google.com/" smartsize='true'/>
</div>