<style>
  #pretty {
    background: pink;
  }
</style>

<div id="pretty">
  <h1>Pretty!!!</h1>
  <a onclick='Facebook.streamPublish("You are awesome")'>Share</a>
  
  <a href="http://www.facebook.com/ajax/share_dialog.php?s=99&appid=<app_id>&p[]=<source_id>&p[]=<post_id>&parent_fbid=<origianal_post_id>">Share 2</a>
  
  
  <a class="uiButton uiButtonDefault uiButtonMedium" href="/ajax/share_dialog.php?u=http%3A%2F%2Fwww.facebook.com%2Felcrocks&amp;src=fbml&amp;appid=121299427914138" rel="dialog" title="Send this to friends or post it on your profile."><i class="img spritemap_4a20ge sx_d4e6c8"></i><span class="uiButtonText">Share</span></a>
</div>