<style>
  #pretty {
    background: pink;
  }
  
  .uiButtonDefault {
    background: #A41733 !important;
  }
  .uiButtonDefault .img {
    display: none !important;
  }
</style>

<div id="pretty">
  <h1>Pretty!!!</h1>
  <a onclick='Facebook.streamPublish("You are awesome")'>Share</a>
  <fb:share-button href="http://www.pozdena.org/"></fb:share-button>
</div>