<style>
  #pretty {
    background: pink;
  }
  
  .uiButtonDefault {
    background: green !important;
  }
  .uiButtonDefault .img {
    display: none !important;
  }
</style>

<div id="pretty">
  <h1>Pretty!!!</h1>
  <a onclick='Facebook.streamPublish("You are awesome")'>Share</a>
  <fb:share-button class="url" href="http://apps.facebook.com/elcrocks"></fb:share-button>
  
  <fb:share-button href="http://apps.facebook.com/example" type="box_count"></fb:share-button>
</div>