<style>
  #pretty {
    background: pink;
  }
  
  .uiButtonDefault {
    background: green !important;
  }
  .uiButtonDefault .img {
    display: none !important;
  }
</style>

<div id="pretty">
  <h1>Pretty!!!</h1>
  <a onclick='Facebook.streamPublish("You are awesome")'>Share</a>
  <fb:share-button class="meta" type="icon_link" href="http://www.pozdena.org/">
   </fb:share-button>
</div>