!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" =>"en", :lang =>"en" }
  %head
    %title
      JPoz
    %link{ :type => "text/css", :rel => "stylesheet", :media => "screen", :href => "/stylesheet.css" }
  %body
    #content
      %span#title
        JPoz
      #main
        = yield